.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

.story h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
  width: 155px;
  height: 155px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.fadeIn {
  -webkit-animation: slidein 1s ease-in;
          animation: slidein 1s ease-in;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.titleAnimation {
  display: inline-block;
  margin-right: 15px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.5s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.5s ease-in;
  transition: opacity 0.2s ease-in, transform 0.5s ease-in;
  transition: opacity 0.2s ease-in, transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.titleAnimation.visibility {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.oscars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 965px;
  margin-left: 200px;
  margin-bottom: 160px;
}
.oscars img {
  margin-top: 50px;
  width: 278px;
  height: 129px;
}

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4em;
}
.site-footer h2.titre_oscars {
  background-color: transparent;
}

.titre_oscars {
  font-size: 2.2rem;
  padding: 1.8em 2em;
  background-image: url(../assets/images/background-title-oscars.png);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 699px) {
  .oscars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 630px;
    margin-left: 0px;
    margin-bottom: 220px;
  }
  .oscars img {
    margin-left: 150px;
  }
}
.container {
  height: 806px;
  overflow: hidden;
}
.container video {
  position: relative;
}

.parallax-video {
  width: 100%;
}

.logo-koukaki img {
  position: absolute;
  top: 350px;
  left: 350px;
  -webkit-animation: TranslateLogo 6s infinite linear;
          animation: TranslateLogo 6s infinite linear;
}

@-webkit-keyframes TranslateLogo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes TranslateLogo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.mobile-img {
  display: none;
}

@media (max-width: 699px) {
  .video-koukaki {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .banner img {
    width: 100%;
  }
  .logo-koukaki {
    display: none;
  }
}
@media (min-width: 699px) {
  .banner {
    background-image: none;
  }
}
#characters {
  width: 100vw;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  margin-left: -30.5em !important;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 480px !important;
  height: 480px;
  margin-right: 40px;
  margin-left: 40px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
}

h3 {
  padding: 1.2em 1.9em;
  background-position: left;
  text-align: left;
}

@media screen and (max-width: 699px) {
  .swiper {
    width: auto;
    margin-left: -59.5em !important;
    margin-right: -55em !important;
  }
}
.story #place {
  background-image: url("../assets/images/lieu_bg.png");
  position: relative;
}
.story #place h3 {
  margin-top: 100px;
  margin-left: 50px;
}

.story #place > div p {
  padding-left: 5em;
  margin-left: 50px;
}

.nuages {
  width: 316px;
  height: 122px;
  position: relative;
  top: -400px;
  left: 930px;
  -webkit-transform: scaleX(-1) scaleY(-1);
          transform: scaleX(-1) scaleY(-1);
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: 1;
}

.petits-nuages {
  width: 142px;
  height: 55px;
  top: -350px;
  left: 740px;
  position: relative;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

@media screen and (max-width: 699px) {
  .main-navigation ul {
    height: 100vh;
    margin: 0;
    text-align: center;
    padding-left: 0px;
    padding-top: 43px;
    background-color: white;
  }
  .main-navigation button {
    margin-left: 520px;
  }
  .main-navigation .line {
    height: 3px;
    background-color: #000;
    display: block;
    margin: auto;
    margin-block: 2px;
    width: 20px;
    -webkit-transform: background-color 0.5s ease-in-out;
            transform: background-color 0.5s ease-in-out;
  }
  .main-navigation.toggled .line {
    -webkit-transform: translateY(3px) rotateZ(45deg);
            transform: translateY(3px) rotateZ(45deg);
  }
  .main-navigation.toggled .line2 {
    background-color: transparent;
  }
  .main-navigation.toggled .line3 {
    -webkit-transform: translateY(-7px) rotateZ(-45deg);
            transform: translateY(-7px) rotateZ(-45deg);
  }
  .main-navigation .line2 {
    height: 3px;
    background-color: #000;
    display: block;
    margin: auto;
    margin-block: 2px;
    width: 20px;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .main-navigation .line3 {
    height: 3px;
    background-color: #000;
    display: block;
    margin: auto;
    margin-block: 2px;
    width: 20px;
    -webkit-transform: background-color 0.5s ease-in-out;
            transform: background-color 0.5s ease-in-out;
  }
  .main-navigation ul li {
    font-size: 32px;
    margin-bottom: 57px;
  }
  .main-navigation ul li a:hover {
    color: black;
    text-shadow: -1px -1px 3px rgba(255, 92, 0, 0.5019607843), 3px -1px 3px rgba(255, 92, 0, 0.3), -1px 3px 3px rgba(255, 92, 0, 0.3), 3px 3px 3px rgba(255, 92, 0, 0.3);
  }
  .logo-burger {
    width: 154px;
    height: 95px;
    margin-bottom: 68px;
  }
  .cat-blue {
    position: relative;
    width: 109px;
    height: 98px;
    top: -470px;
    left: -180px;
  }
}
@media screen and (min-width: 700px) {
  .logo-burger {
    display: none;
  }
}