.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

.story h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
  width: 155px;
  height: 155px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}