.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

.story h2::after {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
  width: 155px;
  height: 155px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.oscars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 965px;
  margin-left: 200px;
  margin-bottom: 160px;
}
.oscars img {
  margin-top: 50px;
  width: 278px;
  height: 129px;
}

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4em;
}
.site-footer h2.titre_oscars {
  background-color: transparent;
}

.titre_oscars {
  font-size: 2.2rem;
  padding: 1.8em 2em;
  background-image: url(../assets/images/background-title-oscars.png);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  height: 806px;
  overflow: hidden;
}
.container video {
  position: relative;
}

.parallax-video {
  width: 100%;
}

.logo-koukaki img {
  position: absolute;
  top: 350px;
  left: 350px;
  -webkit-animation: TranslateLogo 6s infinite linear;
          animation: TranslateLogo 6s infinite linear;
}

@-webkit-keyframes TranslateLogo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes TranslateLogo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.mobile-img {
  display: none;
}

@media (max-width: 821px) {
  .video-koukaki {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .banner img {
    width: 100%;
  }
  .logo-koukaki {
    display: none;
  }
}
@media (min-width: 822px) {
  .banner {
    background-image: none;
  }
}
#characters {
  width: 100vw;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  margin-left: -30.5em !important;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 480px !important;
  height: 480px;
  margin-right: 40px;
  margin-left: 40px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
}

h3 {
  padding: 1.2em 1.9em;
  background-position: left;
  text-align: left;
}