//Rotation des fleurs

.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after {
animation: rotate 5s infinite linear;
}

.story h2::after {
animation: rotate 5s infinite linear;
width: 155px;
height: 155px;
}

@keyframes rotate {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

//Apparition des sections et des titres

.fadeIn {
    animation: slidein 1s ease-in;
  }
  
  @keyframes slidein {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

.titleAnimation {
    display: inline-block;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(100%);
  
    transition: opacity 0.2s ease-in, transform 0.5s ease-in;
  
    &.visibility {
      opacity: 1;
      transform: translateY(0);
    }
  }

//Section des oscars

.oscars {
    display: flex;
    width: 965px;
    margin-left: 200px;
    margin-bottom: 160px;

img {
    margin-top: 50px;
    width: 278px;
    height: 129px;
    }
}

.site-footer {
    display: flex;
    flex-direction: column;
    padding-top: 4em;

h2.titre_oscars {
    background-color: transparent;
    }
}

.titre_oscars {
    font-size: 2.2rem;
    padding: 1.8em 2em;
    background-image: url(../assets/images/background-title-oscars.png);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//Bannière vidéo Koukaki

.container {
    video {
      position: relative;
    }
  
    height: 806px;
    overflow: hidden;
  }
  
  .parallax-video {
    width: 100%;
  }
  
  .logo-koukaki {
    img {
      position: absolute;
      top: 350px;
      left: 350px;
      animation: TranslateLogo 6s infinite linear;
    }
  }
  
  @keyframes TranslateLogo {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }

//Image Koukaki sur Mobile et au chargement

.mobile-img {
    display: none;
  }
  
  @media (max-width: 821px) {
    .video-koukaki {
      display: none;
    }
  
    .mobile-img {
      display: block;
    }
  
    .banner img {
      width: 100%;
    }
  
    .logo-koukaki {
      display: none;
    }
  }
  
  @media (min-width: 822px) {
    .banner {
      background-image: none;
    }
  }

//Carrousel Swiper.js

#characters {
    width: 100vw;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    margin-left: -30.5em !important;

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 480px !important;
        height: 480px;
        margin-right: 40px;
        margin-left: 40px;

        img {
        display: block;
        width: 100%;
        }
    }
}

h3 {
    padding: 1.2em 1.9em;
    background-position: left;
    text-align: left;
}

//Positionnement Nuages

.story #place {
    background-image: url("../assets/images/lieu_bg.png");
    position: relative;
  
    h3 {
      margin-top: 100px;
      margin-left: 50px;
    }
}

.story #place > div p {
    padding-left: 5em;
    margin-left: 50px;
  }
  
#nuages {
    width: 316px;
    height: 122px;
    position: relative;
    top: -400px;
    left: 930px;
    transform: scaleX(-1) scaleY(-1);
    filter: blur(15px);
    z-index: 1;
}

#petits-nuages {
    width: 142px;
    height: 55px;
    top: -330px;
    left: 740px;
    position: relative;
    filter: blur(15px);
}

//Menu de navigation Mobile

@media screen and (max-width: 699px) {
    .main-navigation ul {
        height: 100vh;
        margin: 0;
        text-align: center;
        padding-left: 0px;
        margin-top: 200px;
    }

    .main-navigation ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}